{% extends "parent.html" %}
{% block content %}
<div>
    <h2>Dodaj pozycję</h2>
</div>
        <form method = "POST" action= "{{url_for('add')}}", enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
                {{ field.label }}
                {{ field }}<br>
                {% for error in errors %}
                    {{ error }}
                {% endfor %}
            {% endfor %}
        <input type = "submit" value="Dodaj pozycję">
    </form>
{% endblock %}