{% extends "parent.html" %}
{% block content %}
<div>
    <h2>Edytuj pozycję</h2>
</div>
    {% if error %}
        <div>{{ error }}</div>
    {% endif %}
        <form method = "POST" action = "{{url_for('reviev', book_title = book_title)}}", enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
                {{ field.label }}
                {{ field }}<br>
                {% for error in errors %}
                    {{ error }}
                {% endfor %}
            {% endfor %}
        <input type = "submit" value="Zapisz zmiany">
    </form>
{% endblock %}